@model NGO_DB_Project.Models.ProjectType
@{
	Layout = "_LayoutAdmin";
}

<form asp-area="Admin" asp-controller="ProjectType" asp-action="Add" method="post">
	<div class="card-body">
		<div class="bs-stepper-content">
			<div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
				<div class="form-group">
					<label for="TypeName">TypeName</label>
					<input asp-for="TypeName" type="text" class="mdc-text-field__input form-control"/>
					<span class="text-danger">@ViewBag.Mess</span>
					
				</div>
				<div class="form-group">
					<a href="index" class="btn btn-danger">Exit</a>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	</form>
	

