
@{
    Layout = "_LayoutMain";
}
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="about_taital">about Chrity</h2>
                <p class="about_text">
                    many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If youmany variations of passages of Lorem Ipsum
                    available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you many
                    variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, byinjected humour, or randomised words which don't look even slightly believable. If you
                </p>
                <div class="readmore_bt"><a href="#">Read more</a></div>
            </div>
            <div class="col-sm-4">
                <div class="about_img"><img src="images/about-img.png"></div>
            </div>
        </div>
    </div>
</div>
