@{
    Layout = "_LayoutMain";
}

<div class="mission_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="mission_taital">Mission causes</h1>
                <p class="mission_text">going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
            </div>
        </div>
    </div>
    <div class="mission_section_2">
        <div class="row">
            <div class="offset-md-2"></div>
            <div class="col-md-5">
                <div class="container_main">
                    <img src="~/content/images/img-1.png" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <h4 class="some_text">whichalteration in some </h4>
                            <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                            <div class="btn_main">
                                <div class="donate_bt"><a href="#">Read More</a></div>
                                <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container_main">
                    <img src="~/content/images/img-2.png" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <h4 class="some_text">whichalteration in some </h4>
                            <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                            <div class="btn_main">
                                <div class="donate_bt"><a href="#">Read More</a></div>
                                <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mission_section_2">
        <div class="row">
            <div class="col-md-5">
                <div class="container_main">
                    <img src="~/content/images/img-3.png" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <h4 class="some_text">whichalteration in some </h4>
                            <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                            <div class="btn_main">
                                <div class="donate_bt"><a href="#">Read More</a></div>
                                <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container_main">
                    <img src="~/content/images/img-4.png" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <h4 class="some_text">whichalteration in some </h4>
                            <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                            <div class="btn_main">
                                <div class="donate_bt"><a href="#">Read More</a></div>
                                <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-md-2"></div>
        </div>
    </div>
    <div class="mission_section_2">
        <div class="row">
            <div class="offset-md-2"></div>
            <div class="col-md-5">
                <div class="container_main">
                    <img src="~/content/images/img-5.png" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <h4 class="some_text">whichalteration in some </h4>
                            <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                            <div class="btn_main">
                                <div class="donate_bt"><a href="#">Read More</a></div>
                                <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container_main">
                    <img src="~/content/images/img-6.png" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <h4 class="some_text">whichalteration in some </h4>
                            <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                            <div class="btn_main">
                                <div class="donate_bt"><a href="#">Read More</a></div>
                                <div class="donate_bt"><a href="donate.html">Donate Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
